<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <substitutionProperty name="logbase" value="${catalina.home}/logs/easynotes" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <File>${logbase}/%d{yyyy-MM-dd}.log</File>
            <FileNamePattern>${logbase}/%d{yyyy-MM-dd}.log.zip</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="daoFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <file>${logbase}/%d{yyyy-MM-dd}.dao.log</file>
            <fileNamePattern>${logbase}/%d{yyyy-MM-dd}.dao.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="controllerFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <file>${logbase}/%d{yyyy-MM-dd}.controller.log</file>
            <fileNamePattern>${logbase}/%d{yyyy-MM-dd}.controller.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="serviceFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <file>${logbase}/%d{yyyy-MM-dd}.service.log</file>
            <fileNamePattern>${logbase}/%d{yyyy-MM-dd}.service.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 当root的level为debug的时候，用这个logger配置 -->
    <logger name="com.neworin.easynotes" level="DEBUG" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- 当root的level为debug的时候，用这个logger配置 -->
    <logger name="com.neworin.easynotes.controller" level="DEBUG" additivity="false">
        <appender-ref ref="controllerFILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- 当root的level为debug的时候，用这个logger配置 -->
    <logger name="com.neworin.easynotes.service" level="DEBUG" additivity="false">
        <appender-ref ref="serviceFILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- 当root的level为debug的时候，用这个logger配置 -->
    <logger name="com.neworin.easynotes.dao" level="DEBUG" additivity="false">
        <appender-ref ref="daoFILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- 当root的level为error的时候，用这个logger配置 -->
    <logger name="com.neworin.easynotes" level="ERROR" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>