<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.neworin.easynotes.model.User" alias="user"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/LoginRecordsMapper.xml"/>
        <mapper resource="mappers/NoteMapper.xml"/>
        <mapper resource="mappers/NoteBookMapper.xml"/>
        <mapper resource="mappers/NoteImageMapper.xml"/>
    </mappers>
</configuration>